//Aquí guardamos los colores y fuentes.

// FUENTES
$font-main: 'Raleway', sans-serif;
$font-title: 'Bodoni Moda', serif;

// COLORES
$primary: #F57AAA;        // Rosa Botones
$primary-hover: #f06292;
$secondary: #C1272D;      // Rojo Fuerte / Bordes
$text-main: #636364;      // Gris Texto
$bg-footer: #fce4ec;      // Rosa pastel sólido
$success: #2ecc71;        // Verde stock/éxito

// EFECTOS
$glass: rgba(255, 255, 255, 0.85);
$shadow: 0 8px 32px rgba(193, 39, 45, 0.15);